# Copy to /etc/recipe-multinic.env and edit to match the actual GCP VM.
IFACE_1=ens4
IFACE_2=ens5
IFACE_3=ens6
IFACE_4=ens7

PRIVATE_IP_1=10.140.0.12
PRIVATE_IP_2=10.2.0.2
PRIVATE_IP_3=10.3.0.2
PRIVATE_IP_4=10.4.0.2

SUBNET_1=10.140.0.0/20
SUBNET_2=10.2.0.0/24
SUBNET_3=10.3.0.0/24
SUBNET_4=10.4.0.0/24

GATEWAY_1=10.140.0.1
GATEWAY_2=10.2.0.1
GATEWAY_3=10.3.0.1
GATEWAY_4=10.4.0.1
